html
doctype html
head
    title Welcome #{user.login}
    link(rel="stylesheet" href="/style.css")
body
    if (user)
        a(href="/logout/" style="float: right;") Logout
    h1 Welcome #{user.login}

    if (error)
        p An Error Occured: #{error}
    if (auth_error)
        p An Auth Error Occured: #{auth_error}
    if (user)
        p To Whitelist yourself on the server, enter your Minecraft username. If you have an account whitelisted already, it will be replaced

        form(name="whitelist", method="post")
            label(for='username') Minecraft Username:
            br
            input#username(type='text' name='username' placeholder='minecraft name')
            br
            input(type='submit' value='Submit')
