html
doctype html
head
    title Welcome #{user.login}
    link(rel="stylesheet" href="/style.css")
body
    if (user)
        a(href="/logout/" style="float: right;") Logout
    h1 Welcome #{user.login}

    if (error)
        p An Error Occured: #{error}
    if (auth_error)
        p An Auth Error Occured: #{auth_error}
    if (user)
        p You are now whitelisted on the server
        p Server address is : node2.endofmine.com:25565
        p
            | Modpack information is at
            |  
            a(href='https://www.curseforge.com/minecraft/modpacks/end-of-mine-server-pack') End of Mine Server Pack
